.box1 {
  width: 98%;
  border: solid black;
  border-width: 10px;
  background-color: green;
  margin-bottom: 10px;
}

.box1 h2 {
text-align: center;
}

#denyGreg {
  display: none;
  color: green;
}

#yesPlease, #noThankYou {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: green;
}

#name {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: green;
}

#noName {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: green;
}

#devDialog {
  display: none;
}

#nameBox {
  margin-top: 10px;
  display: none;
  color: green;
}

#questions h2 {
  color: green;
}

#setName {
  display: none;
}

#submitName {
  display: none;
  background-color: green;
}

#provideName {
  background-color: green;
}

#nameProvided {
  display: none;
  color: green;
}

#continue {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: green;
}

#continueOne {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: green;
}

#bDay {
  display: none;
}

#bDay h2 {
  color: green;
}

#continueTwo {
  background-color: green;
}

#beginQuiz {
  display: none;
}

#beginQuiz h2 {
  color: green;
}

#continueThree {
  background-color: green;
}

.container h1 {
  text-align: center;
  color: black;
}

.container h2 {
  font-size: large;
  color: black;
}

.container p {
  font-size: large;
  color: green;
}

#pickColor {
  margin-left: 41%;
  color: green;
  margin-bottom: 30px;
}

#submit{
  margin-left: 48%;
}

.radio {
  color: green;
}

#suggestorForm {
  display: none;
}

body {
  font-family: sans-serif;
}